<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to 'Show', trip %></td>
      </tr>
    <% end %>
  </tbody>
</table>
