/.bundle

/log/*
/tmp/cache
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key

/.idea
/vendor
/.DS_Store
/config/.DS_Store

.env
bike_tipo_vc_test

/dump_postgres
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/coverage