/.bundle

/log/*
/tmp/cache
!/log/.keep
!/tmp/.keep

/storage/*
!/storage/.keep

.byebug_history

/config/master.key

/.idea
/vendor

.env
bike_tipo_vc_test

/dump_postgres
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/coverage